@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

:root {
    font-family: 'Work Sans', sans-serif;
    --main-color: black;
    scroll-behavior: smooth;
}
body {
    max-width: 980px;
    margin: auto;
}
header nav ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}
@media (min-width: 500px) {
    header nav ul {
        flex-direction: row;
    }
}
header nav ul li {
    display: block;
    width: 100%;
    text-align: center;
}
header nav ul a {
    display: block;
    text-decoration: none;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 10px 5px;
    font-size: 1.2rem;
}
header nav ul a:hover {
    border: 1px solid lightgrey;
}
.main-article .banner {
    background-image: url(../img/main.jpg);
    background-position: top;
    background-size: cover;
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
}
.main-article .banner h1 {
    color:white;
    font-size: 2rem;
}
section h2 {
    text-align: center;
}
.catalog article {
    padding: 5px;
}
.catalog article img {
    width: 100%;
    display: block;
}
@media (min-width: 500px) {
    .catalog {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 980px) {
    .catalog {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.order fieldset {
    border: none;
    text-align: center;
}
.order .fields {
    width: 70%;
    margin: 0 auto 10px;
    text-align: left;
}
@media (min-width: 500px) {
    .order .fields {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px 15px;
    }
}

.order .fields p {
    margin: 0;
}
.order .fields input,
.order .fields select {
    height: 2rem;
}
.order .fields input,
.order .fields select,
.order .fields textarea {
    width: 100%;
}
.order label {
    display: block;
    padding: 5px 0 3px;
}
.order .submit-button {
    padding: 8px 30px;
    font-size: 1.2rem;
    border: 1px solid black;
    background-color: #e6e6e6;
}
.contacts {
    display: flex;
    flex-direction: column;
}
.contacts p,
.contacts img {
    width: 100%;
    text-align: center;
}
@media (min-width: 500px) {
    .contacts {        
        flex-direction: row;
    }
    .contacts p {
        width: 40%;
    }
    .contacts img {
        width: 60%;
    }
}

footer {
    margin-top: 30px;
    padding: 20px 30px;
    background-color: #f7fade;
}
